body {
    margin: 0px 0px 0px 0px !important;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    padding-top: 60px;
}

.body-title {
    text-align: center;
    color: white;
}

.txtNew {
    text-align: center;
    color: white;

    h3 {
        margin-top: 10%;
        line-height: normal;
        letter-spacing: normal;
        font: normal normal normal 112px/1.4em dinneuzeitgroteskltw01-_812426,sans-serif;
    }

    h6 {
        font-size: 16px;
        line-height: normal;
        letter-spacing: normal;
        letter-spacing: 0.35em;
        font: normal normal normal 17px/1.4em avenir-lt-w01_35-light1475496,sans-serif;
    }
}



.form {
    border-radius: 20px;
    background-color:rgba(238,238,238, 0.7);
}
