<ul class="navbar">
    <li class="navbar-logo"><a href="/">Rock'n Dress</a></li>
    <li class="navbar-item"><a href="/">Home</a></li>
    <li class="navbar-item"><a href="/">Agenda tu Hora</a></li>
    <li class="navbar-item"><a href="/how">Cómo Funciona</a></li>
    <li class="navbar-item"><a href="/rent">Arrendar</a></li>
    <li class="navbar-item"><a href="#about">More</a></li>
    <li class="signup"><a href="/users/new">Sign Up</a></li>
    <li class="login"><a href="/login">Log In</a></li>
</ul>