<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav">
        <li class="logo"><a href="/">Rock'n Dress</a></li>
        <li class="navbar-item"><a href="/">Home</a></li>
        <li class="navbar-item"><a href="/">Agenda tu Hora</a></li>
        <li class="navbar-item"><a href="/how">Cómo Funciona</a></li>
        <li class="navbar-item"><a href="/rent">Arrendar</a></li>
        <li class="navbar-item last-item"><a href="#about">More</a></li>
        <% if logged_in? %>
            <li class="dropdown account">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Account <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><%= link_to "Profile", current_user, class: 'drop-item' %>
                    <li><%= link_to "Settings", '#', class: 'drop-item' %>
                    <li class="divider"></li>
                    <li><%= link_to "Log out", logout_path, method: :delete, class: 'drop-item' %></li>
                </ul>
            </li>
        <% else %>
            <li class="signup"><a href="/users/new">Sign Up</a></li>
            <li class="login"><a href="/login">Log In</a></li>
        <%end%>
      </ul>
    </nav>
  </div>
</header>
